- if column_type == :payment
  - dom_id = "payment#{student.id}_#{required_payment.id}"
- else
  - dom_id = "#{column_type.to_s}#{student.id}"

%td.text-center{ id: dom_id }
  - # Figure out if valid (student has given it in)
  - if column_type == :parent_permission
    - permission_slip = student.find_permission_slip("Parent", trip.id)
    - valid_button = !(permission_slip.nil?)
    - if valid_button
      - path = permission_slip_path(permission_slip)
    - else
      - path = permission_slips_path(permission_slip: {type: "Parent",
              student_id: student.id, trip_id: trip.id})

  - elsif column_type == :teacher_permission
    - permission_slip = student.find_permission_slip("Teacher", trip.id)
    - valid_button = !(permission_slip.nil?)
    - if valid_button
      - path = permission_slip_path(permission_slip)
    - else
      - path = permission_slips_path(permission_slip: {type: "Teacher",
              student_id: student.id, trip_id: trip.id})

  - elsif column_type == :payment
    - payment = student.find_payment(required_payment.id)
    - valid_button = !(payment.nil?)
    - if valid_button
      - path = payment_path(payment)
    - else
      - path = payments_path(payment: {required_payment_id: required_payment.id,
              student_id: student.id})

  - elsif column_type == :trip_dismissal
    -trip_dismissal = student.find_trip_dismissal(trip.id)
    -valid_button = !(trip_dismissal.nil?)
    - if valid_button
      - path = trip_dismissals_path(trip_dismissal)
    - else
      - path = trip_dismissals_path(trip_dismissal: {student_id: student.id, trip_id: trip.id})

  - else
    - valid_button = false
    - path = nil

  - if valid_button
    - if path != nil
      = button_to "✔", path, method: :delete, remote: true,
        data: { confirm: "Are you sure?" }, class: "btn btn-success a-white"
    - else
      .btn.btn-success= "✔"
  - else
    - if path != nil
      = button_to "✘", path, method: :post, remote: true,
        class: "btn btn-danger a-white"
    - else
      .btn.btn-danger= "✘"
