= form_for @stim do |f|
  - if @stim.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stim.errors.count, "error")} prohibited this stim from being saved:"
      %ul
        - @stim.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :year
    = f.number_field :year
  .field
    = f.label :student
    = f.text_field :student
  .actions
    = f.submit 'Save'
