<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :graduation_year %><br>
    <%= f.number_field :graduation_year %>
  </div>
  <div class="field">
    <%= f.label :osis %><br>
    <%= f.number_field :osis %>
  </div>
  <div class="field">
    <%= f.label :sark %><br>
    <%= f.number_field :sark %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>

  <br/>
  <%# Parent information%>

  <div class="field">
    <%= f.label :father_name %><br>
    <%= f.text_field :father_name %>
  </div>
  <div class="field">
    <%= f.label :mother_name %><br>
    <%= f.text_field :mother_name %>
  </div>
  <div class="field">
    <%= f.label :parent_email %><br>
    <%= f.text_field :parent_email %>
  </div>
  <div class="field">
    <%= f.label :parent_home_phone %><br>
    <%= f.text_field :parent_home_phone %>
  </div>
  <div class="field">
    <%= f.label :parent_cell_phone %><br>
    <%= f.text_field :parent_cell_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
