%tr
  %td.pb-1.pt-3
    %p.lead= form_type.to_s.titleize
  - if form_type == :medicals && @student.medicals.valid && @student.medicals.exists?
    %td.text-center.pb-1.pt-3.table-info
      %p.lead= "Valid until #{@recent_medical}"
  - elsif @student.valid_forms(form_type).any?
    %td.text-center.pb-1.pt-3.table-success
      %p.lead= "Valid"
  - else
    %td.text-center.pb-1.pt-3.table-danger
      %p.lead.font-weight-bold= "Missing"
