%tr
  - if form_type != :stims && form_type != :safety_tests
    %td.pb-1.pt-3
      %p.lead= form_type.to_s.titleize
    - if @student.valid_forms(form_type).any?
      %td.text-center.pb-1.pt-3.table-success
        %p.lead= "Valid"
    - else
      %td.text-center.pb-1.pt-3.table-danger
        %p.lead.font-weight-bold= "Missing"
  - elsif form_type == :stims
    %td.pb-1.pt-3
      %p.lead On Team
    - stims = @student.valid_forms(:stims)
    - if stims.any?
      %td.text-center.pb-1.pt-3.table-success
        %p.lead= "Done"
    - else
      %td.text-center.pb-1.pt-3.table-danger
        %p.lead.font-weight-bold= "Not Done"
    %tr
      %td.pb-1.pt-3
        %p.lead Guardian Connected
      - if stims.has_guardian.any?
        %td.text-center.pb-1.pt-3.table-success
          %p.lead= "Connected"
      - else
        %td.text-center.pb-1.pt-3.table-danger
          %p.lead.font-weight-bold= "Not Connected"
    %tr
      %td.pb-1.pt-3
        %p.lead Media Consent
      - if stims.consented.any?
        %td.text-center.pb-1.pt-3.table-success
          %p.lead= "Submitted"
      - else
        %td.text-center.pb-1.pt-3.table-danger
          %p.lead.font-weight-bold= "Not Submitted"
  - else
    %td.pb-1.pt-3
      %p.lead Taken
    - safety_tests = @student.valid_forms(:safety_tests)
    - if safety_tests.any?
      %td.text-center.pb-1.pt-3.table-success
        %p.lead= "Taken"
    - else
      %td.text-center.pb-1.pt-3.table-danger
        %p.lead.font-weight-bold= "Not Taken"
    %tr
      %td.pb-1.pt-3
        %p.lead Passed
      - if safety_tests.passed.any?
        %td.text-center.pb-1.pt-3.table-success
          %p.lead= "Passed"
      - else
        %td.text-center.pb-1.pt-3.table-danger
          %p.lead.font-weight-bold= "Not Passed"
    %tr
      %td.pb-1.pt-3
        %p.lead Signed
      - if safety_tests.signed.any?
        %td.text-center.pb-1.pt-3.table-success
          %p.lead= "Signed"
      - else
        %td.text-center.pb-1.pt-3.table-danger
          %p.lead.font-weight-bold= "Not Signed"
