<h1>Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Osis</th>
      <th>Sark</th>
      <% Student::SEASONALS.each do |seasonal_type| %>
        <th><%= seasonal_type.to_s.titleize %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td class="col-md-3"><%= student.full_name %></td>
        <td class="col-md-2"><%= student.osis %></td>
        <td class="col-md-1"><%= student.sark %></td>
        <%= render 'seasonals/buttons', student: student %>
        <td class="col-md-1"><%= link_to 'View', student, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
