<% if params[:message] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= params[:message] %>
  </div>
<% end %>
<h1>Students</h1>
<div style="text-align:right">
  <%= link_to 'New Student', {action: 'new'}, class: 'btn btn-primary', style: 'margin-bottom:10px' %>
  <%= link_to 'Export as CSV', "students.csv", class: 'btn btn-primary', style: 'margin-bottom: 10px' %>
</div>
<table class="table">
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Email</th>
    <th>Cell Phone</th>
    <th></th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.last_name %></td>
      <td><%= student.first_name %></td>
      <td><%= student.student_email %></td>
      <td><%= number_to_phone student.student_cell_phone, area_code: true %></td>
      <td width="60px"><%= link_to 'View', student, class: 'btn' %></td>
    </tr>
  <% end %>
</table>
