%p#notice= notice
.row
  %h1
    = @student.full_name
    - if !@student.preferred_name.empty?
      = "( #{@student.preferred_name} )"
.row
  .col
    %h2 Student Info
    %ul{ :style => "list-style: none; padding-left: 0px"}
      %li
        %strong Graduation Year:
        = "#{@student.grad_year}"
      %li
        %strong OSIS:
        = @student.osis
      %li
        %strong Email:
        = @student.email
      %li
        %strong Phone:
        = @student.phone
      %li
        %strong Team:
        = "#{@student.team.program} #{@student.team.number} #{@student.team.name}"
    = link_to 'Edit', edit_student_path(@student)
  .col
    %h2 Forms
.row
  .col
    %h2 Parent Info
.row
  .col
    %h2 Hours
= link_to 'Back', students_path
