<p id="notice"><%= notice %></p>

<h1>
  <%= @student.full_name %>
</h1>
<p>
  <strong>Preferred name:</strong>
  <%= @student.preferred_name %>
</p>

<p>
  <strong>Grad year:</strong>
  <%= @student.grad_year %>
</p>

<p>
  <strong>Osis:</strong>
  <%= @student.osis %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Team:</strong>
  <%= @student.team %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
