%p#notice= notice
%h1
  = @student.full_name
  - if @student.preferred_name
    = "( #{@student.preferred_name} )"
%hr
.row
  %div.col
    %div.card.bg-primary.text-white
      %div.card-header
        %h1 Student Info
      %div.card-body.bg-white.text-dark.text-center
        %p
          %strong Graduation Year:
          = "#{@student.grad_year}"
        %p
          %strong OSIS:
          = @student.osis
        %p
          %strong Email:
          = @student.email
        %p
          %strong Phone:
          = @student.phone
        %p
          %strong Team:
          - if @student.team
            = "#{@student.team.display_name}"
          - else
            No team
        %div.btn.btn-primary
          - if policy(@student).update?
            = link_to "Edit Profile", edit_student_path(@student), :class => "btn"
%br
.row
  %div.col-sm-4
    %h1 Forms
    %table.table.table-striped{style: "table-layout:fixed"}
      = render partial: "student_form", locals: {form_type: :team_dues}
      = render partial: "student_form", locals: {form_type: :media_consents}
      = render partial: "student_form", locals: {form_type: :medicals}
  %div.col-sm-4
    %h1 Safety Test
    %table.table.table-striped{style: "table-layout:fixed"}
      %tr
      = render partial: "student_safety_test_table"
  %div.col-sm-4
    %h1 STIMS
    %table.table.table-striped{style: "table-layout:fixed"}
      = render partial: "student_stim_table"
%hr
.row
  .col
    %h2 Parent Info
.row
  = render :partial => "parent", :collection => @student.parents
%hr
.row
  .col
    %h2 Hours
