<script>
  $(document).ready(function() {
    $('form.tr-form').css('margin', 0);
  });
</script>
<div class="row-fluid">
  <div class="span12">
    <% if params[:message] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= params[:message] %>
      </div>
    <% end %>
    <h1><%= @student.full_name %></h1>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h2>Student</h2>
    <p><strong>Year:</strong> <%= @student.year %></p>
    <p><strong>ID:</strong> <%= @student.student_id %></p>
    <p><strong>Email:</strong> <%= @student.student_email %></p>
    <p><strong>Cell Phone:</strong> <%= number_to_phone @student.student_cell_phone, area_code: true %></p>
  </div>
  <div class="span6">
    <h2>Parents</h2>
    <p><strong>Mother:</strong> <%= @student.mother_name %></p>
    <p><strong>Father:</strong> <%= @student.father_name %></p>
    <p><strong>Email:</strong> <%= @student.parent_email %></p>
    <p><strong>Home Phone:</strong> <%= number_to_phone @student.parent_home_phone, area_code: true %></p>
    <p><strong>Cell Phone:</strong> <%= number_to_phone @student.parent_cell_phone, area_code: true %></p>
    <p><strong>Preferred Language:</strong> <%= @student.preferred_language %></p>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <%= link_to 'Back', students_path, class: 'btn' %>
    <%= link_to 'Edit', {action: 'edit'}, class: 'btn' %>
    <%= button_to 'Delete', {action: 'destroy', id: @student.id}, method: :delete, class: 'btn btn-danger', confirm: 'Are you sure?', style: 'margin-top:10px' %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h3>Safety Tests</h3>
    <div style="text-align:right">
      <%= link_to 'Add Safety Test', {controller: 'safety_tests', action: 'new', student_id: @student.id}, class: 'btn', style: 'margin-top:-88px' %>
    </div>
    <table class="table" style="margin-top:-20px">
      <tr>
        <th>Date</th>
        <th>Valid?</th>
        <th></th>
      </tr>
      <% @student.safety_tests.order('date DESC').each do |safety_test| %>
        <tr class="<%= safety_test.is_valid? ? 'success' : 'error' %>">
          <td><%= safety_test.date %></td>
          <td><%= safety_test.is_valid? ? 'Yes' : 'No' %></td>
          <td><%= button_to 'Delete', {controller: 'safety_tests', action: 'destroy', id: safety_test.id}, method: :delete, class: 'btn btn-link', confirm: 'Are you sure?', style: 'margin:0px; padding:0px; border:0px', form_class: 'tr-form' %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="span6">
    <h3>Medical Forms</h3>
    <div style="text-align:right">
      <%= link_to 'Add Medical Form', {controller: 'medical_forms', action: 'new', student_id: @student.id}, class: 'btn', style: 'margin-top:-88px' %>
    </div>
    <table class="table" style="margin-top:-20px">
      <tr>
        <th>Date</th>
        <th>Valid?</th>
        <th></th>
      </tr>
      <% @student.medical_forms.order('date DESC').each do |medical_form| %>
        <tr class="<%= medical_form.is_valid? ? 'success' : 'error' %>">
          <td><%= medical_form.date %></td>
          <td><%= medical_form.is_valid? ? 'Yes' : 'No' %></td>
          <td><%= button_to 'Delete', {controller: 'medical_forms', action: 'destroy', id: medical_form.id}, method: :delete, class: 'btn btn-link', confirm: 'Are you sure?', style: 'margin:0px; padding:0px; border:0px', form_class: 'tr-form' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h3>Parent Permission Forms</h3>
    <div style="text-align:right">
      <%= link_to 'Add Form', {controller: 'parent_permission_forms', action: 'new', student_id: @student.id}, class: 'btn', style: 'margin-top:-88px' %>
    </div>
    <table class="table" style="margin-top:-20px">
      <tr>
        <th>Trip</th>
        <th></th>
      </tr>
      <% @student.parent_permission_forms.each do |form| %>
        <tr>
          <% trip = Trip.find form.trip_id %>
          <td><%= link_to "#{trip.name} (#{trip.start_date.year})", trip %></td>
          <td><%= button_to 'Delete', {controller: 'parent_permission_forms', action: 'destroy', id: form.id}, method: :delete, class: 'btn btn-link', confirm: 'Are you sure?', style: 'margin:0px; padding:0px; border:0px', form_class: 'tr-form' %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="span6">
    <h3>Teacher Permission Forms</h3>
    <div style="text-align:right">
      <%= link_to 'Add Form', {controller: 'teacher_permission_forms', action: 'new', student_id: @student.id}, class: 'btn', style: 'margin-top:-88px' %>
    </div>
    <table class="table" style="margin-top:-20px">
      <tr>
        <th>Trip</th>
      </tr>
      <% @student.teacher_permission_forms.each do |form| %>
        <tr>
          <% trip = Trip.find form.trip_id %>
          <td><%= link_to "#{trip.name} (#{trip.start_date.year})", trip %></td>
          <td><%= button_to 'Delete', {controller: 'teacher_permission_forms', action: 'destroy', id: form.id}, method: :delete, class: 'btn btn-link', confirm: 'Are you sure?', style: 'margin:0px; padding:0px; border:0px', form_class: 'tr-form' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h3>Trip Deposits</h3>
    <div style="text-align:right">
      <%= link_to 'Add Form', {controller: 'trip_deposits', action: 'new', student_id: @student.id}, class: 'btn', style: 'margin-top:-88px' %>
    </div>
    <table class="table" style="margin-top:-20px">
      <tr>
        <th>Trip</th>
        <th></th>
      </tr>
      <% @student.trip_deposits.each do |form| %>
        <tr>
          <% trip = Trip.find form.trip_id %>
          <td><%= link_to "#{trip.name} (#{trip.start_date.year})", trip %></td>
          <td><%= button_to 'Delete', {controller: 'trip_deposits', action: 'destroy', id: form.id}, method: :delete, class: 'btn btn-link', confirm: 'Are you sure?', style: 'margin:0px; padding:0px; border:0px', form_class: 'tr-form' %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="span6">
    <h3>Trip Fees</h3>
    <div style="text-align:right">
      <%= link_to 'Add Form', {controller: 'trip_fees', action: 'new', student_id: @student.id}, class: 'btn', style: 'margin-top:-88px' %>
    </div>
    <table class="table" style="margin-top:-20px">
      <tr>
        <th>Trip</th>
      </tr>
      <% @student.trip_fees.each do |form| %>
        <tr>
          <% trip = Trip.find form.trip_id %>
          <td><%= link_to "#{trip.name} (#{trip.start_date.year})", trip %></td>
          <td><%= button_to 'Delete', {controller: 'trip_fees', action: 'destroy', id: form.id}, method: :delete, class: 'btn btn-link', confirm: 'Are you sure?', style: 'margin:0px; padding:0px; border:0px', form_class: 'tr-form' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
