<h1><%= @student.full_name %></h1>

<h2>Student</h2>
<p>Year: <%= @student.year %></p>
<p>ID: <%= @student.id %></p>
<p>Email: <%= @student.student_email %></p>
<p>Cell Phone: <%= @student.student_cell_phone %></p>

<h2>Parent</h2>
<p>Mother: <%= @student.mother_name %></p>
<p>Father: <%= @student.father_name %></p>
<p>Email: <%= @student.parent_email %></p>
<p>Cell Phone: <%= @student.parent_cell_phone %></p>
<p>Preferred Language: <%= @student.preferred_language %></p>
