<h1><%= @student.full_name %></h1>

<h2>Student</h2>
<p><strong>Year:</strong> <%= @student.year %></p>
<p><strong>ID:</strong> <%= @student.student_id %></p>
<p><strong>Email:</strong> <%= @student.student_email %></p>
<p><strong>Cell Phone:</strong> <%= number_to_phone @student.student_cell_phone, area_code: true %></p>

<h2>Parents</h2>
<p><strong>Mother:</strong> <%= @student.mother_name %></p>
<p><strong>Father:</strong> <%= @student.father_name %></p>
<p><strong>Email:</strong> <%= @student.parent_email %></p>
<p><strong>Home Phone:</strong> <%= number_to_phone @student.parent_home_phone, area_code: true %></p>
<p><strong>Cell Phone:</strong> <%= number_to_phone @student.parent_cell_phone, area_code: true %></p>
<p><strong>Preferred Language:</strong> <%= @student.preferred_language %></p>
