<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @team_due.student %>
</p>

<p>
  <strong>Year:</strong>
  <%= @team_due.year %>
</p>

<%= link_to 'Edit', edit_team_due_path(@team_due) %> |
<%= link_to 'Back', team_dues_path %>
