<% if params[:message] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= params[:message] %>
  </div>
<% end %>
<h1>Trips</h1>
<div style="text-align:right">
  <%= link_to 'New Trip', {action: 'new'}, class: 'btn btn-primary', style: 'margin-bottom:10px' %>
</div>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>
  <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.name %></td>
      <td><%= trip.start_date %></td>
      <td><%= trip.end_date %></td>
      <td width="60px"><%= link_to 'View', trip, class: 'btn' %></td>
    </tr>
  <% end %>
</table>
