<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @media_consent.student %>
</p>

<p>
  <strong>Year:</strong>
  <%= @media_consent.year %>
</p>

<%= link_to 'Edit', edit_media_consent_path(@media_consent) %> |
<%= link_to 'Back', media_consents_path %>
