<%= form_for(@seasonal) do |f| %>
  <% if @seasonal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seasonal.errors.count, "error") %> prohibited this seasonal from being saved:</h2>

      <ul>
      <% @seasonal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :seasonal_type %><br>
    <%= f.number_field :seasonal_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
