<p id="notice"><%= notice %></p>

<h1>Listing Seasonals</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Year</th>
      <th>Seasonal type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seasonals.each do |seasonal| %>
      <tr>
        <td><%= seasonal.student %></td>
        <td><%= seasonal.year %></td>
        <td><%= seasonal.seasonal_type %></td>
        <td><%= link_to 'Show', seasonal %></td>
        <td><%= link_to 'Edit', edit_seasonal_path(seasonal) %></td>
        <td><%= link_to 'Destroy', seasonal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seasonal', new_seasonal_path %>
