= form_for @medical do |f|
  - if @medical.errors.any?
    #error_explanation
      %h2= "#{pluralize(@medical.errors.count, "error")} prohibited this medical from being saved:"
      %ul
        - @medical.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :student
    = f.text_field :student
  .actions
    = f.submit 'Save'
