%h1 Listing payments

%table
  %thead
    %tr
      %th Student
      %th Required payment
      %th Excused
      %th
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.student
        %td= payment.required_payment
        %td= payment.excused
        %td= link_to 'Show', payment
        %td= link_to 'Edit', edit_payment_path(payment)
        %td= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
