<div class="field">
  <%= form.label :preferred_name %>
  <%= form.text_field :preferred_name, id: :student_preferred_name %>
</div>

<div class="field">
  <%= form.label :phone %>
  <%= form.text_field :phone, id: :student_phone %>
</div>

<div class="field">
  <%= form.label :team_id %>
  <%= form.text_field :team_id, id: :student_team_id %>
</div>

<div class="gender">
  <%= form.label :gender %>
  <%= form.text_field :gender, id: :gender %>
</div>

<div class="actions">
  <%= form.submit %>
</div>

