<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @safety_test.student %>
</p>

<p>
  <strong>Year:</strong>
  <%= @safety_test.year %>
</p>

<%= link_to 'Edit', edit_safety_test_path(@safety_test) %> |
<%= link_to 'Back', safety_tests_path %>
