<div class="span4"> 
  <table>
    <tr>
      <td><h4><%= dinner.date.strftime("%A, %b.%d.%y") %> </h4> </td>
    </tr>
    <tr>
      <td colspan="2"><strong>Volunteer:</strong> <%= dinner.volunteer_name %> </td>
    </tr>
    <tr>
    <td><strong>Cell Phone:</strong> <%= number_to_phone dinner.volunteer_phone, area_code: true %> </td>
      <td> <% if not dinner.volunteer_email.empty? %>
             <strong>Email: </strong> <%= dinner.volunteer_email %>
           <% end %>
      </td>
    </tr>
    <tr>
        <td colspan="2"><%= dinner.meal_description %> </td>
    </tr>
    <tr>
      <td colspan="2"><strong>Notes:</strong> <%= dinner.notes %> </td>
    </tr>
  </table>
</div>
