%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to "Team Manager", root_url, class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if current_user&.is_admin?
        %li.nav-item= link_to "Admin", rails_admin.dashboard_path,
          class: 'nav-link'
        %li.nav-item= link_to "Student Dashboard", dashboard_students_path,
          class: 'nav-link'
        %li.nav-item= link_to "Trips", trips_path,
          class: 'nav-link'
      - if current_user&.student
        %li.nav-item= link_to "Student Profile", student_path(current_user.student.id),
          class: 'nav-link'

      - if current_user
        %li.nav-item= link_to "Forms", forms_path,
          class: 'nav-link'

    %ul.nav.navbar-nav.navbar-right
      %li
        - if current_user
          = "Welcome, #{current_user.email}!"
          = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          = link_to image_tag('google_signin_btn.png'), user_google_oauth2_omniauth_authorize_path
