<!DOCTYPE html>
<html>
<head>
  <title>Team Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Team Manager</a>
        <ul class="nav">
          <li><%= link_to 'Students', students_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <%= yield %>
    <hr>
    <footer>
      <p>&copy; 2012 Kevin Wang - 694 Software Engineering</p>
    </footer>
  </div>
</body>
</html>
